<launch>
	<!-- Load URDF into the parameter sever -->
	<param name="robot_description" textfile="$(find cougarbot)/cougarbot.urdf" />

	<!-- Start Gazebo with an empty world-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch"/>

	<!-- Spawn a Cougarbot in Gazebo, talking the description from the parameter server -->
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model cougarbot"/>

	<!-- Load controller to param server -->
    <rosparam file="$(find cougarbot)/yaml/controllers.yaml" command="load"/>
    	
	<!-- Make Controller -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller"/>
</launch>
